.dados {
  width: 70%;
  margin: 0 auto;
  padding: 100px 0;
}

.dados h2 {
  font-size: 32px;
  color: #EF7247;
  text-align: center;
  text-transform: uppercase;
}

.dados label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 20px 0 0 0;
}

.dados input {
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 10px #48A2A6;
          box-shadow: 1px 1px 10px #48A2A6;
  margin-bottom: 20px;
}

.dados button {
  display: block;
  margin: 0 auto;
}

.header {
  background: url(../img/destaque.jpeg) no-repeat;
  background-size: cover;
  padding-top: 32px;
}

.header .main-menu {
  text-align: center;
}

.header .main-menu .menu-item {
  display: inline-block;
  margin: 0 2px 32px 0;
}

.header .main-menu .menu-item a {
  color: white;
  padding: 16px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.header .main-menu .menu-item a:hover {
  background-color: #48A3A6;
}

.header .jumbotron {
  text-align: center;
  padding: 0 0 44px 0;
  text-transform: uppercase;
}

.header .jumbotron .title {
  font-size: 3em;
}

.header .jumbotron .subtitle {
  font-size: 2.6em;
  color: #64FF64;
  margin-top: 8px;
}

.header .jumbotron .button {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 25px 50px;
  background-color: #48A3A6;
  border-radius: 8px;
}

.header .jumbotron .panel-subscribe {
  margin-top: 28px;
}

.header .panel-main {
  color: white;
  text-shadow: 4px 4px 10px black;
}

@media (min-width: 650px) {
  .header .jumbotron {
    font-size: 28px;
  }
}

.palestrantes {
  background-color: #f7a57f;
}

.palestrantes .white {
  color: #ffffff;
  font-size: 2em;
  text-align: center;
  padding: 44px 0 0 0;
}

.palestrantes .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 44px 20px;
  width: 70%;
  margin: 0 auto;
}

.palestrantes .cards .personalidade {
  background-color: #ffffff;
  width: 220px;
  text-align: center;
  border-radius: 10px;
  padding: 20px 10px;
  margin: 20px 10px;
}

.palestrantes .cards .personalidade img {
  border-radius: 100%;
  width: 70%;
  padding: 15px 0;
}

.sobre {
  line-height: 1.5;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 35px 0 44px 0;
}

.sobre h3 {
  font-size: 2.2em;
}

.sobre h4 {
  font-size: 1.6em;
  padding: 5px 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 25px 50px;
  background-color: #48A3A6;
  border-radius: 8px;
}
/*# sourceMappingURL=main.css.map */