.palestrantes {
    background-color: rgb(247, 165, 127);

    .white  {
        color: #ffffff;
        font-size: 2em;
        text-align: center;
        padding: 44px 0 0 0;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 44px 20px;
        width: 70%;
        margin: 0 auto;

        .personalidade {
            background-color: #ffffff;
            width: 220px;
            text-align: center;
            border-radius: 10px;
            padding: 20px 10px;
            margin: 20px 10px;

            img {
                border-radius: 100%;
                width: 70%;
                padding: 15px 0;
            }
        }
    }
}